.modal {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  background: white;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.success {
  color: rgb(104, 228, 99);
}

.errSpan {
  color: rgb(192, 28, 28);
  margin-bottom: 20px;
}

.input {
  width: 80%;
  padding: 8px 15px;
  border: 2px solid gainsboro;
  border-radius: 2px;
  margin-bottom: 15px;
}

.input:focus {
  border-color: var(--brandColor);
}

.submitBtn {
  background: var(--brandColor);
  color: white;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0.1em;
  padding: 5px 15px;
  border: none;
  border-radius: 2px;
  margin: 0 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 2px 0px, rgba(0, 0, 0, 0.24) 0px 0px 1px 0px;
}
